* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  max-width: 1200px;
  padding: 2rem 4rem;
  margin: 0;
  background-color: #f3f4f6;
  border-bottom: 5px solid red;
  font-size: 1.5rem;
  color: #1f2937;
}

/* .main-container {
  border: red 2px solid;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.navigation-list {
  list-style: none;
  display: flex;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

.navigation-list li {
  border-bottom: 1px solid red;
}

.navigation-list li:hover {
  border-bottom: none;
}

.navigation-list a {
  text-decoration: none;
}

.main-heading {
  background: linear-gradient(
    90deg,
    rgba(67, 56, 202, 1) 0%,
    rgba(34, 211, 238, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 62px;
  margin: 2rem 0;
}

.intro-paragraph {
  max-width: 70%;
}

.about-me-paragraph {
  max-width: 75%;
}

h2 {
  margin: 1rem 0;
  font-family: monospace;
}

h3 {
  margin: 1rem 0;
  font-family: monospace;
}

p {
  margin: 1rem 0;
}

.image {
  height: 200px;
  border-radius: 15px;
  border-left: 2px solid #ef4444;
  border-top: 2px solid #ef4444;
  padding: 8px;
}

.technology-list {
  margin-left: 25px;
}
.technology-list li:last-of-type {
  color: #3730a3;
}
.food-list {
  margin-left: 20px;
}

.food-list > li:nth-child(even) {
  color: #3730a3;
}
.footer-list {
  margin: 2rem 0;
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}

.footer-list li {
  border-bottom: 1px solid #ff0000;
}
.footer-list li:hover {
  border-bottom: none;
}

.footer-list a {
  text-decoration: none;
}

a {
  color: #4338ca;
  font-size: 18px;
}

a:hover {
  color: red;
}

.grid-gallery {
  margin-top: 2rem;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  border-radius: 15px;
  border-bottom: #ef4444 solid 2px;
  border-right: #ef4444 solid 2px;
}

.grid-images {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  padding: 5px;
}

.grid-gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: all 0.3s;
}

.grid-gallery img:hover {
  transform: scale(1.1);
}

@media (max-width: 1000px) {
  .grid-gallery {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .grid-gallery {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
